.navbar {
    background-color:#007FBA;
}

.icon{
    color: white;
    opacity: 0.5;
    position: absolute;
    right: 0;
    width:170px;
    padding-top: 18px;
    margin: 0;
    
}

.copyright{
    color: white;
    padding: 20px;
}

.colorstrip{
    background-color: #6f6f6f;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

.sidebars{
    margin: 0%;
    padding: 0%;
}

.copyright{
    color: white;
    opacity: 0.5;
}

.nextbtn{
    position: absolute;
    right: 40px;
    width: 563px;
}

.gbtn{
    font-weight: 50;
    text-align: right;
    padding-right: 15%;
}

.col-sm-6{
    padding-bottom: 3%;
}

.card{
    height: 180px;
    width: 530px;
}

.sug{
    background-color: white;
    padding-top: 20%;
    .dcard
}

.cntbtn{
    border-radius: 25px;
    width: 200px;
}

.card-body{
    padding-left: 10%;
    padding-right: 12%;
}

footer .jumbotron{
    margin: 0;
 }
 .footer-bg{
    background: #ffffff;
    border-radius: 0;
    height: 320px;
 }
 .footer-strip{
    color: #9B9B9B;
    background: #4A4A4A;
    height: 80px;
    padding-top: 20px
 }
 .footer-strip .row{
    margin: 0;
 }

 .icons a{
    color: #9B9B9B !important;
    font-size: 1.2em;
    float: right;
 }

 .cbtn{
     border-radius: 50px;
     width:200px;
 }

 .dcard{
     left:16px;
 }

 .fmatter{
     padding-top: 40px;
 }

 

 

