.navbar {
    background-color:#007FBA;
}

.icon{
    color: white;
    opacity: 0.5;
    position: absolute;
    right: 0;
    width:180px;
    padding-top: 18px;
    margin: 0;
    
}

.copyright{
    color: white;
    padding: 20px;
}

.colorstrip{
    background-color: #6f6f6f;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

.sidebars{
    margin: 0%;
    padding: 0%;
}

.copyright{
    color: white;
    opacity: 0.5;
}


